<div class="card">
    <div class="card-body">
        <p>
            <div class="tile tile-centered"><b>DB Type: </b><%= rdb.db_type %></div>
            <div class="tile tile-centered"><b>Host: </b><%= rdb.host %></div>
            <div class="tile tile-centered"><b>Port: </b><%= rdb.port %></div>
            <div class="tile tile-centered"><b>DB Name: </b><%= rdb.database_name %></div>
            <div class="tile tile-centered"><b>Schema: </b><%= rdb.schema %></div>
            <div class="tile tile-centered"><b>Username: </b><%= rdb.remote_user %></div>
        </p>
    </div>
</div>