<h2>New Connection</h2>

<%= form_for @remote_db, html: {class: 'form-horizontal'} do |form| %>
    <div class="form-group">
        <div class="column col-3 col-sm-12">
            <%= form.label(:name, "Nickname for new connection", class: 'form-label') %>
        </div>
        <div class="column col-9 col-sm-12">
            <%= form.text_field :name, class: 'form-input' %>
        </div>
    </div>
    <div class="form-group">
        <div class="column col-3 col-sm-12">
            <%= form.label(:db_type, "Database type", class: 'form-label') %>
        </div>
        <div class="column col-9 col-sm-12">
            <select class="form-select">
                <option>Postgres</option>
                <option>MySQL</option>
                <option>SQL Server</option>
                <option>Redshift</option>
            </select>
        </div>
    </div>
            <!--
            <%= form.radio_button :db_type, @POSTGRES %>
            <%= form.label(:db_postgres, "PostgreSQL", class: 'form-label') %>
            <%= form.radio_button :db_type, @MYSQL %>
            <%= form.label(:db_mysql, "MySQL", class: 'form-label') %>
            <%= form.radio_button :db_type, @SQLSERVER %>
            <%= form.label(:db_sqlserver, "SQL Server", class: 'form-label') %>
            <%= form.radio_button :db_type, @REDSHIFT %>
            <%= form.label(:db_redshift, "Redshift", class: 'form-label') %>
            -->
    <div class="form-group">
        <div class="column col-3 col-sm-12">
            <%= form.label(:host, "Host Address", class: 'form-label') %>
        </div>
        <div class="column col-9 col-sm-12">
            <%= form.text_field :host, class: 'form-input' %>
        </div>
    </div>
    <div class="form-group">
        <div class="column col-3 col-sm-12">
            <%= form.label(:port, nil, class: 'form-label') %>
        </div>
        <div class="column col-3 col-sm-12">
            <%= form.text_field :port, class: 'form-input' %>
        </div>
    </div>
    <div class="form-group">
        <div class="column col-3 col-sm-12">
            <%= form.label(:database_name, "Database Name", class: 'form-label') %>
        </div>
        <div class="column col-9 col-sm-12">
            <%= form.text_field :database_name, class: 'form-input' %>
        </div>
    </div>
    <div class="form-group">
        <div class="column col-3 col-sm-12">
            <%= form.label(:schema, nil, class: 'form-label') %>
        </div>
        <div class="column col-9 col-sm-12">
            <%= form.text_field :schema, class: 'form-input' %>
        </div>
    </div>
    <div class="form-group">
        <%= form.label(:remote_user, "Database username", class: 'form-label') %>
        <%= form.text_field :remote_user, class: 'form-input' %>
        <%= form.label(:password, "Database password", class: 'form-label') %>
        <%= form.password_field :password, class: 'form-input' %>
        <%= form.hidden_field :join_db_id, value: @join_db_id %>
    </div>

    <%= form.submit("Add Connection", class: "btn btn-success") %>

<% end %>
</div>