<!-- app/views/users/new.html.erb -->

<h2><%= @page_title %></h2>

<p>Enter the password you want to use</p>
<div class="infoTile">
  <%= form_for @user, class: 'form-horizontal center' do |f| %>
    <p>
      Password: <%= f.password_field :password, class: "form-control" %>
      Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control" %>
    </p>
    <%= f.submit "Submit", class: "button mainButton" %>

  <% end %>
</div>