
<% if @join_dbs.length == 0 %>
    <div class="empty">
        <p class="empty-title h5">You have no JoinDBs</p>
        <p class="empty-subtitle">Get started now!</p>
        <div class="empty-action">
            <%= button_to 'Add JoinDB', join_dbs_new_path, method: :get, class: "btn btn-success" %>
        </div>
    </div>
<% else %>
    <h3 class="s-title"><%= @page_title %></h3>

    <%= button_to 'Add JoinDB', join_dbs_new_path, method: :get, class: "btn btn-success" %>
    <br />

    <% @join_dbs.each do |jdb| %>
    <div class="column col-6 col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><%= link_to jdb.name, join_db_path(jdb.id) %></div>
        </div>
        <div class="card-body">
            <div class="btn-group">
                <%= link_to 'Manage Connections', join_db_path(jdb.id), class: "btn btn-sm btn-primary" %>
                <%= link_to 'Rename', edit_join_db_path(jdb.id), class: "btn btn-sm" %>
            </div>
            <%= link_to 'Delete', delete_join_db_path(jdb.id), method: :post, class: "btn btn-error btn-sm" %>
            <%= render partial: 'join_dbs/info', locals: {join_db: jdb} %>
        </div>
    </div>
    </div>
    <% end %>
<% end %>