<h2><%= @page_title %></h2>

<p>
    <%= button_to 'Add JoinDB', join_dbs_new_path, method: :get, class: "button mainButton" %>
</p>

<% @join_dbs.each do |jdb| %>
    <div class="infoTile">
        <h3><%= link_to jdb.name, join_db_path(jdb.id) %></h3>
        <p>
            <%= link_to 'Rename', edit_join_db_path(jdb.id) %>
            |
            <%= link_to 'Delete', delete_join_db_path(jdb.id), method: :post, class: "deleteLink", data: { confirm: "Are you sure?" } %>
        </p>
        <%= render partial: 'join_dbs/info', locals: {join_db: jdb} %>
    </div>
<% end %>