<%= form_tag('/confirm_join_db_password') do %>
    <div class="infoTile">
        <p>
            Please confirm your credentials for "<%= @join_db.name %>":
        </p>
        <p>
            <%= label_tag :username %>
            <%= text_field_tag :join_db_user, @join_db.username %>
            <br />
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= hidden_field_tag :join_db_id, @join_db.id %>
            <br />
            <%= submit_tag 'Login', class: "mainButton" %>
        </p>
    </div>
<% end %>