<%= form_tag('/confirm_join_db_password') do %>
    <h2>Confirm JoinDb Credentials</h2>
    <p>
        Please confirm your credentials for "<%= @join_db.name %>"
        in order to edit it or add connections.
    </p>
    <div class="infoTile">
        <p>
            <%= label_tag :username %>
            <%= text_field_tag :join_db_user, @join_db.username, class: 'form-control' %>
        </p>
        <p>
            <%= label_tag :password %>
            <%= password_field_tag :password, nil, class: 'form-control' %>
        </p>
        <%= hidden_field_tag :join_db_id, @join_db.id %>
        <br />
        <%= submit_tag 'Login', class: "button mainButton" %>
    </div>
<% end %>