<h1>Edit JoinDb</h1>

<%= form_for @join_db do |form| %>
    <p>
        <%= form.label :database_name %>
        <%= form.text_field :name %>
        <%= form.label :username %>
        <%= form.text_field :username %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>