<h1>New JoinDb</h1>

<%= form_for @join_db do |form| %>
    <p>
        <%= form.label :choose_a_username %>
        <%= form.text_field :username %>
        <br />
        <%= form.label :choose_a_password %>
        <%= form.password_field :password %>
    <p>
        <%= form.label :database_name %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>