<!-- <%= link_to 'Edit', edit_join_db_path(@join_db.id) %> -->
<%= render partial: 'join_dbs/menu', locals: {overview_active: 'active', connections_active: '', mapping_active: ''} %>
<br />
<div class="columns">
    <div class="column col-6 col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5">Info</div>
        </div>
        <div class="card-body">
            <%= render partial: 'join_dbs/info', locals: {join_db: @join_db} %>
        </div>
    </div>
    </div>
    <div class="column col-6 col-xs-12">
        <%= render partial: 'join_dbs/add_connection' %>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <div class="card-title h5">Connections</div>
    </div>
    <div class="card-body">
        <p><%= link_to 'View connection details', join_db_connections_path(@join_db) %></p>
        <table class="table table-hover">
            <thead><tr>
                <th>Connection</th><th>Type</th><th>Schema</th>
            </tr></thead>
            <tbody>
                <% @remote_dbs.each do |rdb| %>
                    <tr><td><%= rdb.name %></td><td><p class="chip"><%= rdb.db_type %></p></td><td><%= rdb.get_schema %></td>
                <% end %>
            </tbody>
        </table>
    </div>
</div>