<h2><%= @page_title %></h2>
<!-- <%= link_to 'Edit', edit_join_db_path(@join_db.id) %> -->
<h3>Info</h3>
<%= render partial: 'join_dbs/info', locals: {join_db: @join_db} %>

<h3>Connections</h3>
<p>
    <b>Database:</b>
    <br />
    <%= link_to 'Add Database', remote_dbs_new_path(join_db: @join_db.id), class: "mainButton" %>
    <%= form_for @new_rdb do |f| %>
        <%= f.label :add_csv, 'CSV:' %>
        <%= f.file_field :csv, accept: 'text/csv' %>
        <%= f.hidden_field :db_type, value: "csv" %>
        <%= f.hidden_field :join_db_id, value: @join_db.id %>
        <%= f.submit 'Add CSV', class: "mainButton" %>
    <% end %>
</p>
<% @remote_dbs.each do |rdb| %>
    <div class="infoTile">
        <h4><%= rdb.name %></h4>
        <p>
        <%= button_to 'Refresh Schema', refresh_remote_db_path(rdb.id), method: :post, class: "button yellow" %>
        <br />
        <%= link_to 'Delete', delete_remote_db_path(rdb.id), {class: "deleteLink"} %>
        </p>
        <ul>
            <li>DB Type: <%= rdb.db_type %></li>
            <li>Host: <%= rdb.host %></li>
            <li>Port: <%= rdb.port %></li>
            <li>DB Name: <%= rdb.database_name %></li>
            <li>Schema: <%= rdb.schema %></li>
            <li>Username: <%= rdb.remote_user %></li>
        </ul>
    </div>
<% end %>