<h2><%= @join_db.name %></h2>
<!-- <%= link_to 'Edit', edit_join_db_path(@join_db.id) %> -->
<h3>Info</h3>
<%= render partial: 'join_dbs/info', locals: {join_db: @join_db} %>

<h3>Connections</h3>
<p>
    <%= link_to 'Add Connection', remote_dbs_new_path(join_db: @join_db.id) %>
</p>
<% @remote_dbs.each do |rdb| %>
    <div class="infoTile">
        <h4><%= rdb.name %></h4>
        <p>
        <%= button_to 'Refresh Schema', refresh_remote_db_path(rdb.id), method: :post, class: "button" %>
        <br />
        <%= link_to 'Delete', delete_remote_db_path(rdb.id), {class: "deleteLink"} %>
        </p>
        <ul>
            <li>DB Type: <%= rdb.db_type %></li>
            <li>Host: <%= rdb.host %></li>
            <li>Port: <%= rdb.port %></li>
            <li>DB Name: <%= rdb.database_name %></li>
            <li>Schema: <%= rdb.schema %></li>
            <li>Username: <%= rdb.remote_user %></li>
        </ul>
    </div>
<% end %>