<div class="form-group">
    <%= form_tag mappings_new_tables_path do |form| %>
        <div class='form-group'>
            <div class="column col-9 col-sm-12">
                <%= label_tag :table_one, 'First Table', class: 'form-label' %>
                <%= form.select(:table_one,
                    @tables.map{|table| [table, table]}, 
                    {}, {class: 'form-select'}) %>
                <%= form.label :remote_db_one, 'Second Table', class: 'form-label' %>
                <%= form.select(:remote_db_one,
                    @tables.map{|table| [table, table]}, 
                    {}, {class: 'form-select'}) %>
            </div>
        </div>
        <%= form.submit class: "button", class: 'btn btn-success' %>
    <% end %>
</div>