<!DOCTYPE html>
<html>
  <head>  
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="<%= ENV['DATA_CB_SITE'] %>"></script>

    <title>Joiner - <%= @page_title %></title>
    <%= favicon_link_tag asset_path('icon.png'), :rel => 'icon', :type =>  'image/png' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <body class="bg-gray">
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:success] %>
      <div class="success"><%= flash[:success] %></div>
    <% end %>
    <div class="container grid-lg">
      <%= yield %>
    </div>
  </body>
</html>